body
{
	margin: 0px;
	background-color:#b9b8b1;
	width: 100%;
	height:100%;
	color: #000;
	/*background-image:url("../images/backgrounds/bgpattern.png");*/

}

img
{
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;

}


nav
{

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15pt;
	margin-top:0px;
	color:#ffffff;
	position:fixed;
	width: 200px;
	height:100%;
	border:none;
	background-color: #16a085;

}

#tile img
{
	max-width:60px;
	max-height:60px;
	vertical-align:middle;
	margin-left:50px;
	padding-top:20px;
}

nav img
{
	max-width:38px;
	max-height:38px;
	margin-left:10px;
	margin-top:14px;
	vertical-align:middle;


	float:left;
	padding-right:15px;

}

#start
{
	padding-top:50px;
	padding-bottom:40px;
	text-align:left;
	margin-left:20px;
	color:#fff;

}

span.highlight
{
	color:#1abc9c;
	
}

p#start img
{
	max-width:32px;
	max-height:32px;
	vertical-align:middle;
	float:none;
	margin-top:-5px;
}

a.link
{
	/*color:#fff;*/
	color:#ecf0f1;
	padding: 15px 0px 30px 10px;
	display: block;
	text-decoration: none;
	text-transform:none;
	visibility: visible;

}

a.link:hover
{
	text-decoration: none;
	background-color: #1abc9c;
	color: #fff;
}

a.link:active
{
	background-color:rgba(161, 140, 189, 0.84);
}


header
{
	font-size: 20pt;
	display:block;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;

	text-align:left;
	margin-left: 20px;
	padding:10px;

}

img.icon
{
	max-width:18px;
	max-height:18px;
	margin: -2px 0px 0px 24px;
	vertical-align:middle;
	padding-right:2px;
}



header.modules
{

	font-size:16pt;
	color:#5c6866;
	display:block;
	clear:left;
	padding-top:25px;
	text-align:left;
	margin: 0px 0px 10px 0px;
}

header.modulename
{
	text-align:left;
	font-size:22pt;
	color:#000;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom:10px;

}

hr
{
	width: 400px;
	padding-bottom:20px;
	border-left:none;
	border-right:none;
	border-bottom:none;

}

p.summary
{
	margin:15px 0px 0px 0px;
	text-align: center;
	font-size: 30px;
}

p#errorMessage
{
	color:red;
	font-size:12pt;
}

section#content2
{
	height: 650px;
	width: 1050px;
	background-color:#fff;
	margin-left:220px;
	margin-top: 10px;

}

.left
{
	margin-left:20px;
}



p.footnote
{
	padding-top: 30px;
	text-align: center;
	font-size:10pt;
	color:#0f547b;
}

label
{
	font-size:13pt;
	padding-right: 2px;
	float: left;
	vertical-align: middle;
	width:120px;
	font-family: 'Source Sans Pro', sans-serif;

}



input[type=text], input[type=password], input[type=email]
{
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	color: #31a0cd;
	padding-left: 2px;
	padding-bottom: 3px;
	margin:5px 15px;

	border-top: none;
	border-bottom: 1px solid #c7c7c7;
	border-left: none;
	border-right: none;
	box-shadow: none;
	outline: none;
	height: 40px;
	width: 220px;
}

input[type=radio]
{
	font-size:15px;

	margin:5px 15px 15px 5px;
}




input[type=file]
{

	border:none;
	margin: 10px 0px 5px 0px;
	border: 0;
	border-top: 1px solid #e2e3e4;
	border-bottom: 1px solid #e2e3e4;
	border-left: 1px solid #e2e3e4;
	border-right: 1px solid #e2e3e4;
}



select
{
	font-size:15px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	color: #2980b9;
	background-color:#fff;
	padding: 0px 17px 3px 2px;
	border: 0;
	box-shadow: none;
	outline: none;
	height: 40px;
	width: 220px;
	margin: 5px 0px 5px 0px;
	border: 0;
	border-top: 1px solid #e2e3e4;
	border-bottom: 1px solid #e2e3e4;
	border-left: 1px solid #e2e3e4;
	border-right: 1px solid #e2e3e4;


}


input[type=submit], button
{
	height: 40px;
	font-size: 20px;
	width:100px;
	margin: 20px 170px;
	color: #000;
	border:1px solid #000;
	background-color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;

}


input[type=submit]:hover, button:hover
{

	color: #31a0cd;

	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;

}


textarea
{
	font-size:13pt;
	color:#2980b9;
	text-align:left;
	
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 5px 0px 5px 0px;
	border: 0;
	border-top: 1px solid #e2e3e4;
	border-bottom: 1px solid #e2e3e4;
	border-left: 1px solid #e2e3e4;
	border-right: 1px solid #e2e3e4;

}

form
{

	margin-left: 80px;
	margin-top: 20px;

}


#content
{
	margin: 50px 0px 0px 50px;
	height: auto;
	overflow:hidden;
	width:auto;


}

.container
{
	height:auto;
	clear:both;
}

#data
{
	height: auto;
	overflow:hidden;


}
#data p
{
	padding: 20px 0px 0px 0px;
	/*font-size:14pt;*/
	font-family: 'Source Sans Pro', sans-serif;

}


#content section
{
	padding-bottom:40px;
}

div.tile-container
{
	padding-bottom:90px;
	position:relative;
	margin-left:150px;
	top:80px;

}

section#tile, section#tile-group1, section#tile-group2
{

	height:120px;
	width:200px;
	margin-left:20px;
	display:inline-block;
	background-color:rgba(79, 10, 113, 0.94);
	float: left;
}

section#tile-group1
{
	background-color:rgba(79, 10, 113, 0.94);
}


section#tile-group2
{
	background-color:rgba(114, 27, 172, 0.92);
}

section#tile:hover
{
	background-color:rgba(43, 144, 233, 0.61);
}

section#tile p, section#tile-group1 p, section#tile-group2 p
{
	width:185px;
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:15pt;
	margin-left:10px;
}

section#tile:hover, section#tile-group1:hover, section#tile-group2:hover
{
	background-color:rgba(83, 20, 131, 0.59);
	color:#fff;
}


section#tile-group1 p span, section#tile-group2 p span
{
		font-weight:bold;


}

section.overview
{
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:15pt;
	text-decoration:none;
}

#tile a
{
	text-decoration:none;
	color:#fff;

}

div.card, form.card, section.card
{

	display:inline-block;
	margin:0px 9px;
	padding: 0px 20px;
	font-family: 'Source Sans Pro', sans-serif;
	width:250px;
/*	height: 400px;*/
	border-width: 1px 1px 3px 1px;
	border-color: #c7c7c7;
	border-style: solid ;
	border-radius: 4px;
  vertical-align: top;
	position: relative;



}

form.card
{
	width: 500px;
	margin: 50px 25%;
}

section.card
{
	background-color: #16a085;
	color: #fff;
	cursor:pointer;
}


section.card p
{
		font-size:30px;
		text-align:center;
}


section.card p.card-title
{
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	text-align:left;
	font-weight: bold;
	border-bottom: 1px solid #b9b8b1;
}

div.card:hover, form.card:hover, section.card:hover

{
	box-shadow: 0px 0px 0px 1px #c7c7c7;

}

div.card header.subheading, form.card header.subheading
{
	font-size: 18px;
	margin:0;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 8px 0px 0px 0px;
	font-weight: bold;
	color: #3f4141;
	text-transform: uppercase;
}

div.card img
{
	width: 200px;
	height: 150px;

}

div.card a.full-listing
{
	color:#5f81ea;
	float: right;
	display: block;
}

div.card a.full-listing:hover
{
	color:#5f81ea;
	text-decoration: underline;
	float: right;
	display: block;
}

#data
{
	background-color:#ffffff;
}


footer
{


	bottom:0px;
	clear:both;
	margin: 0px 0px 0px 250px;
	height:40px;
	text-align:center;
}
