body
{
	margin: 0px;
	width: 100%;
	height: auto;
	min-height: 100% !important;
	color: #000;

}


img
{
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;

}


a.link
{
	color:#fff;
	padding: 0px 3px 0px 20px;
	font-size:12pt;
	margin-top:5px;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform:none;

}

a.link:hover
{
	font-weight:bold;
	color: #fff;

}




header
{
	font-size: 3em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;

}



/*
#content
{
	margin-left: 0px;
	margin-top: 0px;
	background: url('../images/oasis_banner2.svg');
	background-size: cover;
	height: 250px;
}*/

#content2
{
	height: auto;
	overflow:hidden;
	margin: 100px auto;


}

#content header
{
	margin-left: 40px;
	margin-top: 0px;
	max-width: 600px;

}

#content2 header
{
	font-size: 2em;
	color: #31a0cd;
	margin-left: 20px;
	text-align: center;
	padding-bottom: 15px;
	text-transform: uppercase;
}



/* The float left style will float all labels and align the input
		boxes horizontally */
label
{
	font-size:13pt;
	padding-right: 2px;
	float: left;

	width:120px;
	font-family: 'Source Sans Pro', sans-serif;

}

/* For the form that shows the listing filters, we don't want the input boxes
 		aligned horizontally or the labels will all float to the left of them*/
#filter label
{
	float:none;
}

select
{
	font-size:12pt;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	color: #31a0cd;
	background-color:#fff;
	padding: 0px 17px 3px 2px;
	border: 0;
	box-shadow: none;
	outline: none;
	height: 40px;
	width: 220px;


}


form
{

	margin: 50px 200px;


}

.subheading
{
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 5px;
	font-weight: bold;
	color: #3f4141;
	text-transform: uppercase;

}

.group
{
	margin:0 25px 0px 0px;
}

input[type=text], input[type=password], input[type=email]
{
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	color: #31a0cd;
	padding-left: 2px;
	padding-bottom: 3px;
	border: 0;
	border-top: 1px solid #e2e3e4;
	border-bottom: 1px solid #e2e3e4;
	border-left: 1px solid #e2e3e4;
	border-right: 1px solid #e2e3e4;
	box-shadow: none;
	outline: none;
	height: 40px;
	width: 220px;
}



input[type=submit], button
{
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	border:none;
	background-color: #217690;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;

}


input[type=submit]:hover, button:hover
{

	color: #fff;
	border:none;
	background-color: #;
	font-family: 'Source Sans Pro', sans-serif;

}






table
{
	width: 400px;
	font-size: 15pt;

	color: #000;
	margin-left: 250px;
	font-family: 'Source Sans Pro', sans-serif;
}


a[data-view="hide"]
{
	display:none;
}

/*tr:nth-of-type(even)
{
	color: #fff;
  background-color:#0D84C8;
}*/

thead
{
	/*background-color:rgba(139, 15, 158, 0.69);*/
	color:#000;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0px 12px 2px 12px;
	text-align:left;

}

div#table-results
{
	height:auto;
	width:900px;
	margin-left:250px;

}

td
{
	padding: 5px 0px 5px 0px;
	/*border-bottom:1px solid;*/
}

td
{
	border-bottom: 2px dashed	 rgba(139, 15, 158, 0.69);
}

td:nth-of-type(3)
{

  	text-align: left;
}

/*td:nth-of-type(5)
{

  	background: url('../images/tag.png');
  	background-repeat: no-repeat;
  	background-color: #fff;

} */


tr:hover
{
	font-weight: bolder;

}


tbody img
{
	height:100px;
	width:100px;
}


#pagination-holder
{
	margin-left: 50px;
	padding-top:5px;
}

a.paginate
{
	text-transform: uppercase;

	border:2px solid;
	background-color:#5f81ea;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	text-decoration:none;
	margin-left:0px;
	padding:4px;
	font-size: 15pt;

}

a.paginate:hover
{
	background-color:#fff;
	color: #5f81ea ;
}

footer
{
	/*position:static;*/
	/*background-color: #31a0cd;*/
	padding:0px 0px;
	height: 40px;
	width:100%;
	bottom: 0px;
	color: #000;

	text-align:center;
}
